$project-six-bg-color:#FFFFFF;
$project-six-font:"Fabriga Light";
$project-six-font-colors:#333333;

.project-six{
  display:flex;
  background-color: $project-six-bg-color;
  flex-direction: column;
  height:370px;
  color:$project-six-font-colors;
  font-family:$project-six-font ;

  &__img{
    padding-top:20px
  }

  &__img a img{
    width: 310px;
    height:210px;
    border-radius: 20px;
    display: block;
    margin: auto;
  }

  &__description{
    text-align: center;
    padding-top:15px;
  }
}

@media (min-width: 1024px) {
  .project-six{
    display:flex;
    flex-direction: row-reverse;
    background-color: $project-six-bg-color;
    height: calc(100vh);
    color: $project-six-font-colors;
    font-family: $project-six-font;

    &__img{
      flex:2;
      padding-top:20px;
      margin-top:30px;
    }

    &__img a img{
      width: 600px;
      height:500px;
      border-radius: 20px;
      display: block;
      margin: auto;
    }

    &__description{
      text-align: inherit;
      padding-top:15px;
    }

    &__skills-list{
      list-style: none;
    }
  }
}